<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find_workers</title>
</head>
<body>
    <h1> 歡迎來到徵才中心 </h1>
    <form method='post' action= "{{ url_for('submit') }}">
         <br>
                <p><label>請問您徵求的職業名稱?</label></p>
                <p><input type = 'textbox'  style="font-size:16px;padding:10px"  name = 'title' placeholder="Ex:資料分析師"></p>
                <br>

                <p><label>請問您徵才的縣市區域?<span class = 'r'></span></label></p>
                <p><select  style="font-size:16px;padding:15px"  name = "area"  >
                     <option value = '台北市' vt = '0' data-i = '0'>台北市</option>
                     <option value = '基隆市' vt = '1' data-i = '1'>基隆市</option>
                     <option value = '新北市' vt = '2' data-i = '2'>新北市</option>
                     <option value = '桃園市' vt = '3' data-i = '3'>桃園市</option>
                     <option value = '新竹市' vt = '4' data-i = '4'>新竹市</option>
                     <option value = '苗栗縣' vt = '5' data-i = '5'>苗栗縣</option>
                     <option value = '台中市' vt = '6' data-i = '6'>台中市</option>
                     <option value = '南投縣' vt = '7' data-i = '7'>南投縣</option>
                     <option value = '彰化縣' vt = '8' data-i = '8'>彰化縣</option>
                     <option value = '雲林縣' vt = '9' data-i = '9'>雲林縣</option>
                     <option value = '嘉義縣' vt = '10' data-i = '10'>嘉義縣</option>
                     <option value = '台南市' vt = '11' data-i = '11'>台南市</option>
                     <option value = '高雄市' vt = '12' data-i = '12'>高雄市</option>
                     <option value = '屏東縣' vt = '13' data-i = '13'>屏東縣</option>
                     <option value = '宜蘭縣' vt = '14' data-i = '14'>宜蘭縣</option>
                     <option value = '花蓮縣' vt = '15' data-i = '15'>花蓮縣</option>
                     <option value = '台東縣' vt = '16' data-i = '16'>台東縣</option>
                     <option value = '澎湖縣' vt = '17' data-i = '17'>澎湖縣</option>
                     <option value = '連江縣' vt = '18' data-i = '18'>連江縣</option>
                     <option value = '金門縣' vt = '19' data-i = '19'>金門縣</option>
                   </select></p>
                <br>
                <p><label>請問您開的月薪資(新台幣)?<span class = 'r'></span></label></p>
                <p><select  style="font-size:16px;padding:15px"  name = "salary"  >
                     <option value = '0' vt = '0' data-i = '0'>30,000元以下</option>
                     <option value = '1' vt = '1' data-i = '1'>30,000至40,000</option>
                     <option value = '2' vt = '2' data-i = '2'>40,000至50,000</option>
                     <option value = '3' vt = '3' data-i = '3'>50,000至60,000</option>
                     <option value = '4' vt = '4' data-i = '4'>60,000以上</option>
                   </select></p>
               <br>
               <p><label>請問此職缺所需的專業或任何需求條件?</label>
               <p><textarea style="font-size:16px;padding:10px"  name="skill"   placeholder="Ex:需會使用Python程式、需要認真負責、需要在此領域有2年以上經驗、需有聯結車駕駛證等..." rows="10" cols="80" required></textarea></p>
               <br>
               <p><label>請詳述給求職者貴公司或貴職缺的應徵須知內容:</label>
               <p><textarea style="font-size:16px;padding:10px"  name="detail"   placeholder="Ex:本公司創立多年，希望能找更多有為青年一起開拓未來市場..." rows="40" cols="90" required></textarea></p>
               <br>
               <p><button type = 'submit'>確認送出</button></p>
    </form>

</body>
</html>