{% include "header.html" %}
<meta name="viewport" content="width=device-width">
<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">

    <div class="row">

        <div class="col md-12">


    {%with messages = get_flashed_messages()%}

    {%if messages%}

    {% for message in messages %}

    <div class="alert alert-success alert-dismissable" role="alert">

     <button type="button" class="close" data-dismiss="alert" aria-label ="close">

         <span aria-hidden="true">&times;</span>

     </button>
        {{message}}


    </div>


    {%endfor%}
    {%endif%}
    {%endwith%}

            <table class="table table-striped">



              <th>食譜名稱</th>
              <th>前往頁面</th>
              <th>加入日期</th>
              <th></th>





                {% for row in recipe %}
                <tr>

                    <td>{{row.2}}</td>
                    <td><a href="{{row.3}}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxaMZ-4q4F1_aI-jRpAEbuIeIIx7mxnuiEaQ&usqp=CAU" width="20" height="20"></a></td>
                    <td>{{row.4}}</td>
                    <td><a href="/delete/{{row.1}}" class="btn btn-danger btn-xs" onclick="return confirm('你確定要刪除嗎')">Delete</a></td>
                    </td>


                </tr>

                {% endfor  %}


                </tbody>


            </table>


        </div>


    </div>


</div>


{% endblock %}


<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
